page-access-page {
    form {
        margin-bottom: 32px;
        button {
            margin-top: 20px;
        }
    }
    .item-md p {
        font-size: 1em;
        color: #ff0000;
    }
    ion-label {
        margin-left: 5px;
    }
    ion-input {
        padding: 5px;
    }
    .invalid {
        border-bottom: 1px solid #FF6153;
    }
    .error-message .item-inner {
        border-bottom: 0 !important;
    }
}